Creating datasets using Faker package in python

In the world of data science Fake data is sometimes needed.
Testing on fake data is useful because then you know the right answer and can check how it would work in the real world situation. 
Fake data also enables you to test the robustness of the model when the conditions aren’t perfect – for example, if outliers are presend the model still works, it's a great way to know that your model is doing good. 
With fake data, one can generate as many samples as needed.
Faker is a Python library that generates fake data. Faka data is often used for testing or filling databases with some dummy data and can be generated almost instantly

Installing the package

In [1]:
!pip install Faker

Collecting Faker
  Downloading https://files.pythonhosted.org/packages/2a/6f/2a868e12996ea630a4591aa967cb934e411d94e42da12e1dd141b66d0070/Faker-4.0.2-py3-none-any.whl (1.0MB)
Collecting text-unidecode==1.3 (from Faker)
  Downloading https://files.pythonhosted.org/packages/a6/a5/c0b6468d3824fe3fde30dbb5e1f687b291608f9473681bbf7dabbf5a87d7/text_unidecode-1.3-py2.py3-none-any.whl (78kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\sheetal sekhar\anaconda3\lib\site-packages (from Faker) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\sheetal sekhar\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.12.0)
Installing collected packages: text-unidecode, Faker
Successfully installed Faker-4.0.2 text-unidecode-1.3

In [2]:
from faker import Faker

In [7]:
# Create fake data using Faker
fake_data = Faker()

In [11]:
# Creating a list of 50 fake names
def create_names(n):
    name = []
    for _ in range(0, n):
        name.append(fake_data.name())
    return name

In [9]:
name = create_names(50)

In [10]:
print(name)

['Patricia Noble', 'Daniel Hoffman', 'Paula Weber', 'Kim Hayden', 'Samantha Patterson', 'Lisa Rodriguez MD', 'Nathan Logan', 'Lauren Olson', 'David Medina', 'Megan Smith', 'Andrew Peterson', 'Michael Richardson', 'Holly Green', 'Brittany Lewis', 'Dustin Morales', 'Joshua Jordan', 'Claire West', 'Kimberly Pineda', 'Denise Burke', 'Bridget Davis', 'Andrew Walker', 'Casey Morrison', 'Heather Valencia', 'Brenda Cook', 'Tammy Warner', 'Melissa Andrews', 'Traci Ibarra', 'Kathy Morrison', 'April Bush', 'Kenneth Holloway', 'Richard Mitchell', 'Monica Fitzpatrick MD', 'Darren Hall', 'Charles Stanley', 'Jenna Hernandez', 'Summer Beltran', 'Debbie Clark', 'Kevin Wilson', 'Eric Hogan', 'Kendra Smith', 'Denise Hernandez', 'Tammie Brown', 'Tammy Hayes', 'Jacob Henson', 'David Armstrong', 'Meghan Campbell', 'James Harris', 'Kelly Schneider', 'Lynn Deleon', 'Elizabeth Robertson']

Below are some examples of the Faker methods and some expmples illustrating the kind of fake date

In [17]:
address=fake_data.address()

In [18]:
print(address)

804 Jackson Groves Suite 615
Port Michellechester, TN 48959

In [22]:
email=fake_data.email()

In [23]:
print(email)

crossbrian@jackson.com

In [25]:
text=fake_data.text()
country=fake_data.country()

In [30]:
print(f'text is {text}' )

text is Different truth off writer tough. Station anyone south various often trial. Place policy want they guy wonder page.

In [31]:
print(f'country is {country}' )

country is Bulgaria

In [32]:
# Create a list of fake jobs
def create_job(n):
    job = []
    for _ in range(0, n):
        job.append(fake_data.job())
    return job

In [36]:
occupation = create_job(20)

In [37]:
print(occupation)

['Scientist, research (life sciences)', 'Therapist, speech and language', 'Press photographer', 'Diplomatic Services operational officer', 'Buyer, industrial', 'Fisheries officer', 'Psychologist, sport and exercise', 'Health promotion specialist', 'Public librarian', 'Tax adviser', 'Engineer, structural', 'Therapist, speech and language', 'Dispensing optician', 'Manufacturing systems engineer', 'Corporate investment banker', 'Editor, film/video', 'Psychiatrist', 'Designer, graphic', 'Sports therapist', 'Hydrologist']

If i want to create a data frame, I'll first list down the columns that I need and then generate fake data according to the category.
Let's say I want a person's job, name, email and address in a data frame

Numeric data is as generated below

In [48]:
salary = np.random.randint(10000, 120000, size = 20, dtype = 'int')
savings = np.random.randint(0, 50000, size = 20, dtype = 'int')
rent = np.random.randint(500, 3001, size = 20, dtype = 'int')

In [49]:
import numpy as np

In [50]:
def create_job(n):
    job = []
    for _ in range(0, n):
        job.append(fake_data.job())
    return job

In [52]:
personsJob= create_job(20)

In [61]:
def create_name(n):
    name = []
    for _ in range(0, n):
        name.append(fake_data.name())
    return name

In [62]:
personsName = create_name(20)

In [63]:
def create_email(n):
    email = []
    for _ in range(0, n):
        email.append(fake_data.email())
    return email

In [64]:
personEmail= create_email(20)

In [66]:
def create_address(n):
    address = []
    for _ in range(0, n):
        address.append(fake_data.address)
    return address

In [67]:
personAddress= create_address(20)

In [69]:
import pandas as pd

In [73]:
data = pd.DataFrame(list(zip(personsName, personEmail, personAddress, personsJob, salary, savings, rent)),
                   columns = ['Name', 'Email', 'Address', 'Job', 'Salary', 'Savings','Rent'])

Map the similar index of multiple containers so that they can be used just using as single entity.
In thsi case its used to combine various lists as generated in the above function

In [74]:
data.head()

,Name,Email,Address,Job,Salary,Savings,Rent
0,Kaitlin Adams,jjenkins@lewis.com,<bound method Provider.address of <faker.provi...,Radio broadcast assistant,34190,6970,1046
1,Mary Glenn,nicholas85@mckee.com,<bound method Provider.address of <faker.provi...,Artist,22498,6351,2166
2,Sandra Jenkins,alikimberly@hotmail.com,<bound method Provider.address of <faker.provi...,Careers adviser,82416,12466,1492
3,Lauren Franklin,michaelwilliams@gmail.com,<bound method Provider.address of <faker.provi...,Production manager,40319,33805,2544
4,Stephanie Brooks,cuevasashley@gmail.com,<bound method Provider.address of <faker.provi...,Press photographer,51243,32125,651

Thus we successfully created fake data in a few minutes